<h1>Hi! Please confirm your email!</h1>

<p>
    Por favor, confirme su direcci칩n de correo electr칩nico haciendo clic en el siguiente enlace: <br><br>
    <a href="{{ signedUrl }}">Confirmar mi correo electr칩nico</a>.
    Este enlace caducar치 en {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Gracias!
</p>
